/* some styles cribbed from html5 boilerplate */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
ul { list-style-type: disc; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

h1, h2, h3, h4, h5, h6 { font-weight: bold; }

a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

pre, code, kbd, samp { font-family: monospace, sans-serif; }

body {
  background: #888;
  color: #ddd;
  font-size: 18px;
}

#container {
  font-family: monospace, sans-serif;
  margin: 20px auto;
  width: 900px;
  background: #002b36;
  color: #bbb;
  overflow: hidden;
  padding-bottom: 1em;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#container section {
  min-height: 25em;
}
header {
  background: #bbb;
  background-image: -moz-linear-gradient(#cfcfcf, #a8a8a8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(#cfcfcf), color-stop(#a8a8a8));
  color: black;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  border-top: solid 1px #e2e2e2;
  border-bottom: solid 1px #515151;
}
header h1 {
  background-image: url(windowbuttons.png);
  background-position: 10px 50%;
  background-repeat: no-repeat;
  font-weight: normal;
  font-size: 14px;
  text-shadow: rgba(255,255,255,0.3) 0 1px;
  padding: 3px;
}
footer {
  background: #003643;
}
footer span {
  float: right;
  white-space: pre;
}
